<%= flash[:notice] %>
<%= link_to 'Add candidate', new_candidate_path%>

<table>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Vote</td>
        <td>Party</td>
        <td>Age</td>
        <td>Politics</td>
        <td>Action</td>
    </tr>
    <% @candidates.each do |candidate| %>
    <tr>
        <td><%= link_to 'vote', vote_candidate_path(candidate.id), method: 'post' %></td>
        <td><%= candidate.votelogs.count%></td>
        <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.politice %></td>
        <td><%= link_to 'update', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'delete', candidate_path(candidate), method: 'delete', data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
</table>